header {
    background-color: #1b001a;
    padding: 60px 40px 40px 0px;
    margin-bottom: 0px;
    border-bottom: 3px solid #ffffff;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    font-family: "Marzo Webfont";
}
.imagem {
    max-height: 100px;
}
header a, .titulo {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Marzo Webfont";
    width: 50%;

}
header ul  {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    font-size: 24px;
    font-weight: bold;
}
header ul li a {
    color: #ffffff;
    position: relative;
    padding: 5px 0;
  }
  header ul li a:hover {
    color: rgb(219, 1, 165);
  }
  header ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(219, 1, 165);
    transition: 0.3s;
    bottom: 0;
  }
  header ul li a:hover:after {
    width: 100%;
  }

  @media only screen and (max-width: 700px)  {
    header {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
    }

  @media only screen and (max-width: 500px)  {
  header, ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}