
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/main.css);
@font-face {font-family: "Marzo WebFont";    
    src: local(Marzo), url(font/FontsFree-Net-marzo.ttf);
}
body {
    margin: 0;
    background-color: rgb(154, 1, 116);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
